img, video, svg {
    max-width:300px!important ;
    max-height:300px!important ;
} 

.scads-ad-placed{
    display: none;
}

iframe{
    height: 300px!important;
}

html, body{
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
background: rgb(219, 255, 230);
width: 100%;
height: 100%;
margin: 0 auto;
padding: 0; 
} 

h1{
text-align: center;
margin-bottom: 5%;
color: rgb(44, 62, 80);
font-size: xxx-large;
}

div{
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
color: rgb(236, 240, 241);
}

form {
background: rgb(52, 73, 94);
margin:auto;
box-shadow: 10px 10px 5px #888888;
padding: 10px 3px;
}

input[type=button] {
color:rgb(236, 240, 241);
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
background: rgb(231, 76, 60);
font-size: 22px;
font-weight: 600;
font-weight: 600;
width: 85%;
height: 50px;
margin: 3px;
margin-right: 14px;
border-radius: 8px ;

}

input[type=button]:hover{
background: rgb(192, 57, 43);
}

input[type=number],input[type=text] {
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-size: 22px;
font-weight: 600;
width: 85%;
height: 50px;
margin: 3px;
border-radius: 10px ;
}
 

table tr th{ 
    text-align: start;
    width: 20%;
    margin: 20px 7px;
    font-size: xx-large;
    padding: 12px;
    text-align-last: center;
}

 table tr  th:nth-child(2){ 
    text-align: start;   
    width: 45%;

}

.container{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.main{
    width: 99%;
    max-width: 900px;
    margin: 0 auto; 
}

.calculator{    
    min-height: 50%;
    width: 100%;
    padding: 63px 0;
}
 

 
.m2{
    margin: 5px;
}