{% extends "base.html" %}

{% block title %} Checker - Server Status {% endblock %}

{% block content %}


        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h4 class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                    <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class=" inputs d-flex justify-content-between m-5 p-5">
                    <div class="">
                        <textarea name="ip_input" id="ip_input" cols="40" rows="20">
 
                        </textarea>
                    </div>                
                    <div class="my-auto">
                            <h3>>>></h3>  
                    </div>           
                    <div>
                        <textarea name="ip_output" id="ip_output" cols="40" rows="20">
 
                        </textarea>
                    </div>
                </div>
            </div>
        </header>  

        <script>
            data0="Loading..."
            data1="Loading..."
            async function getstats() {
                fetch('http://127.0.0.1:8000/status/http_call_sync')
                .then(response => response.json())
                .then(data => {
                        console.log(data)
                        data0 = data[0]
                        data1 = data[1]
                        document.getElementById('ip_input').innerHTML = data0
                        document.getElementById('ip_output').innerHTML = data1
                        }
                    ); 
                    document.getElementById('ip_input').innerHTML = data0
                    document.getElementById('ip_output').innerHTML = data1
            }

            getstats();
        </script>
         
{% endblock %}